nav{
    background-color: #FBEFEF;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    justify-content: center;
    margin: 0px;
}

ul{
    align-items: center;
    display: flex;
    flex-direction: row;
    list-style-position: none;
    margin: 20px;
    list-style-type: none;
    
}

nav ul li{
    padding: 20px;
}

nav ul li a{
    color: black;
    text-decoration: none;
}

nav ul li a:hover{
    color: white;
}

.main{
    background-image: url(shop-store.jpg));
}





