article p{
    background-color: blue;
    color: rgb(102, 255, 0);
    padding: 20px;
}

article > p{
    background-color: red;
}

article ~ p{
    background-color: blueviolet;
    color: white;
    padding: 20px;
}

article + p{
    background-color: rgb(162, 0, 255);
}

span:first-of-type{
    background-color: black;
    color: white;
    padding: 20px;
}

p::first-line{
    color: red;
}

p::first-letter{
    font-size: large;
    color:black;
}