.navbar{
    overflow: hidden;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;

}

.navbar a{
    float: left;
    font-size: 16px;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}